body {
    background-color: orange !important;
}

#author {
    font-weight: 900;
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 15px 0px 0px 15px;
}

#blog {
    border-radius: 15px;
    width: 35%;
    min-width: 35%;
    margin: 13px 55px;
}

#content {
    background-color: #E8E8E8;
    padding: 20px;
    border-radius: 0px 15px 15px 0px;
}

#title, #text {
    display: -webkit-box;
    -webkit-line-clamp: 3 !important;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#title {
    font-weight: 900;
    font-size: 1.25rem;
}

#trash {
    margin-right: 14px !important;
    margin-top: -20px;
}

#delBtn {
    position: relative;
    border: none;
    
}

#trashDown {
    position: absolute;
    top: 0;
    cursor: pointer;
}

#eli {
    margin-right: 14px !important;
}

#eliBtn {
    position: relative;
    border: none;
    cursor: pointer;
}

#eliDown {
    position: absolute;
    bottom: -100px;
}

#modalHeader {
    padding: 30px 15px 0px 15px;
    font-size: 19px;
    font-weight: 600;
}

modal-body {
    line-height: 50px;
    font-size: large;
}

.modalButton {
    margin: 10px;
    width: 40%;
    padding: 10px 10px 10px 10px;
    color: white;
    font-size: 17px;
    font-weight: 600;
}