body {
    background-color: orange !important;
    font-family: 'Montserrat' !important;
}

#author {
    font-weight: 900;
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 15px 0px 0px 15px;
}

#blog {
    border-radius: 15px;
    width: 35%;
    min-width: 35%;
    margin: 13px 55px;
}

#content {
    background-color: #E8E8E8;
    padding: 20px;
    border-radius: 0px 15px 15px 0px;
}

#title{
    display: -webkit-box;
    -webkit-line-clamp: 1 !important;
    -webkit-box-orient: vertical;
    overflow: hidden;

}
#text {
    display: -webkit-box;
    -webkit-line-clamp: 3 !important;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#title {
    font-weight: 900;
    font-size: 1.25rem;
}

#delBtn {
    float: right;
    margin-top: -49px;
    border: none;
    background-color: #E8E8E8;
}

#trashDown {
    cursor: pointer;
}

#eliBtn {
    float: right;
    border: none;
    background-color: #E8E8E8;
    margin-bottom: -15px;
}

#modalHeader {
    padding: 30px 15px 0px 15px;
    font-size: 19px;
    font-weight: 600;
}

modal-body {
    line-height: 50px;
    font-size: large;
}

.modalButton {
    border: none;
    margin: 10px;
    width: 40%;
    padding: 10px 10px 10px 10px;
    color: white;
    font-size: 17px;
    font-weight: 600;
}