body {
    background-color: orange !important;
}

.author {
    font-weight: 900;
    background-color: #FFFFFF;
    padding: 15px;
    border-radius: 15px 0px 0px 15px;
}

.title, .text {
    display: -webkit-box;
    -webkit-line-clamp: 3 !important;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title {
    font-weight: 900;
    font-size: 1.25rem;
}

.content {
    background-color: #E8E8E8;
    padding: 20px;
    border-radius: 0px 15px 15px 0px;
}

.blog {
    border-radius: 15px;
    width: 30%;
    margin: 10px 45px;
}

#trash {
    margin-right: 14px !important;
    margin-top: -20px;
}

#delbtn {
    position: relative;
    border: none;
    cursor: pointer;
}

#trashdown {
    position: absolute;
    top: 0;
}

#eli {
    margin-right: 14px !important;
}

#elibtn {
    position: relative;
    border: none;
    cursor: pointer;
}

#elidown {
    position: absolute;
    bottom: -80px;
}

.modalHeader {
    padding: 30px 15px 0px 15px;
    font-size: 19px;
    font-weight: 600;
}

modal-body {
    line-height: 50px;
    font-size: large;
}

.modalButton {
    margin: 10px;
    width: 40%;
    padding: 10px 10px 10px 10px;
    color: white;
    font-size: 17px;
    font-weight: 600;
}