body {
  font-family: 'Montserrat' !important;
}

#buttons {
  margin-top: 20px;
  margin-right: 20px;
}

#headerButton {
  padding: 7px 10px;
  background-color: #0000FF;
  color: white;
  margin-left: 7px;
  border-color: rgb(255, 246, 246);
}

.logo-title {
  font-family: 'Satisfy', cursive;
  font-size: 35px;
  color: #112fb4;
  text-decoration: none;
  margin-left: 10px;
}

.middleText {
  color: black;
  font-family: 'Marck Script', cursive;
  margin-left: 10px;
}