body {
  font-family: 'Montserrat' !important;
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#postButtons {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.postButton {
  padding: 5px;
  background-color: #FFDE48;
  margin-right: 5px;
}

close{
  color: black;
  font-weight: 500;
}

.titleinput{
  width: 60% !important;
}

textarea{
  width: 100%;
}