body {
  font-family: 'Montserrat' !important;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height:100vh;

}

#postButtons {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.postButton {
  padding: 7px;
  background-color: #CFB53B;
  margin-right: 5px;
  border-color: rgb(231, 231, 231);
  font-weight: 900;
}


.half {
  border-top: 1px solid black;
  margin-top: 15px;
  width: 90%;
  margin-bottom: 5px;
}

.modalHeader {
  padding: 15px 15px 0px 15px;
}

.modalHeading {
  font-size: 35px;
  font-weight: 900;

}

modal-body {
  line-height: 50px;
  font-size: large;
}

label {
  font-size: 20px;
  font-weight: 800;
}

input {
  background-color: #F1F1F1;
  width: 100%;
  font-size: 50px;
  border: 0;
  height: 2.5em;
}

input[type="text"], [type="password"] {
  font-size: 20px;
  margin-bottom: 30px;
}

.signUpButton {
  border: 0;
  margin-top: 10px;
  width: 90%;
  background-color: #5EB762;
  padding: 10px 10px 10px 10px;
  color: white;
  font-size: 17px;
  margin-bottom: 10px;
  font-weight: 600;
}

.titleinput {
  width: 50% !important;
}

textarea {
  width: 100%;
}

#signUpText {
  font-size: larger;
  font-weight: 900;
}

#blue{
  color: blue;
}

#post{
  width:100% !important;
}

textarea{
  background-color: #F1F1F1;
}