#material {
    padding: 50px 30px;
}

#title {
    font-size: 1.5em;
    font-weight: 600;
}

#author {
    font-weight: 500;
}

#edit {
    padding: 9px;
}

.pinkButton {
    border: 0;
    color: white;
    background-color: #fd4671;
}

#content {
    padding-top: 20px;
}

#likeBtn {
    margin: 20px 0 10px 0;
    padding: 10px;
    width: 15%;
}

#firstOne {
    font-size: small;
    font-weight: 200;
}

#commentText {
    width: 60%;
}

#commentBtn {
    margin: 10px 0;
    padding: 10px;
    width: 11%;
}

#commentsSection{
    padding-top: 20px;
}

#allComments {
    margin-top: 20px;
    font-size: large;
    font-weight: 600;
}

#comments{
    background-color: #E2E4E6;
    padding: 20px;
}

#comment{
    padding: 20px 20px;
    margin: 5px;
    background-color: white;
}